@import "variables";
@import "header";
@import "footer";

// ----- ACA COMIENZA TODO LO QUE ES CSS DEL BODY -------
#us{
	h2.jumbotron{
		background: white;
		font-family: $fuente-sec;
		font-weight: bold;
		text-align: center;
	}
	p{
		font-family: $fuente-ppal;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
	}
}

#productos{
	.prodyserv{
		padding: 0px;
	}

	h2.jumbotron{
		background: white;
		font-family: $fuente-sec;
		font-weight: bold;
		text-align: center;
	}
}


#galeria{

	h2.jumbotron{
		background: white;
		font-family: $fuente-sec;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0px;
		padding-bottom: 15px;
	}
	p{
		font-family: $fuente-ppal;
		font-size: 14px;
		font-style: italic;
		text-align: center;
	}

	.nopad{
		padding: 0px;
	}
}


#contacto{
	margin: 30px 0px;

	h2.jumbotron{
		background: white;
		font-family: $fuente-sec;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	p{
		font-family: $fuente-ppal;
		font-size: 14px;
		font-style: italic;
		text-align: center;
	}

	form{
		margin: 30px 0px;

		textarea{
			box-sizing: border-box;
			resize: none;
		}

		button{
			float: right;
		}
	}

}

// ----- ACA TERMINA TODO LO QUE ES CSS DEL BODY -------



// ----- ACA EMPIEZA TODO LO QUE ES MEDIA QUERY --------

// ----- ACA TERMINA TODO LO QUE ES MEDIA QUERY --------