@import "variables";
@import "header";
@import "footer";

// ----- ACA COMIENZA TODO LO QUE ES CSS DEL BODY -------
#us{
	h2.jumbotron{
		background: white;
		font-family: $fuente-sec;
		font-weight: bold;
		text-align: center;
	}
	p{
		font-family: $fuente-ppal;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
	}
}

#productos{
	.prodyserv{
		padding: 0px;
	}

	h2.jumbotron{
		background: white;
		font-family: $fuente-sec;
		font-weight: bold;
		text-align: center;
	}

	#producto1{
		height: 500px;
		h3{
			font-family: $fuente-sec;
			font-weight: bold;
			text-align: center;
		}

		p.cita{
			font-family: $fuente-ppal;
			font-style: italic;
			font-size: 14px;
			line-height: 24px;
		}
	}

}

// ----- ACA TERMINA TODO LO QUE ES CSS DEL BODY -------



// ----- ACA EMPIEZA TODO LO QUE ES MEDIA QUERY --------

// ----- ACA TERMINA TODO LO QUE ES MEDIA QUERY --------